@charset "utf-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    margin: 0px;
    padding: 0px;
}

body,
html {
    background-color: lightgray;
}

header {
    background-color: gold;
    
}

header h1 {
    padding: 10px;
    text-align: center;
    font-variant: small-caps;
    font-size: 2.3em;
}

i#burg {
    background-color: #FCB413;
    color: white;
    display: block;
    padding: 10px;
    text-align: center;
    cursor: pointer;
}

i#burg:hover {
    font-weight: bold;
    background-color: rgb(218, 106, 32);
}

menu {
    display: none;
    width: 768px;
}


menu ul {
    list-style-type: none;
}

menu>ul>li>a {
    display: block;
    padding: 10px;
    text-decoration: none;
    background-color: #FCB413;
    text-align: center;
    color: white;
    border: 1px solid rgb(154, 164, 174);
}

menu>ul>li>a:hover {
    background-color: rgb(218, 106, 32);
    font-weight: bold;
}

main {
    background-color: #FFFFEE;
    width: 70vw;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    border: 0.1px solid orange;
}

article h2, h4 {
    padding-bottom: 13px;
    text-align: center;
}

h4 {
    font-weight: lighter;
    text-decoration: underline;
}

article p {
    text-align: justify;
    margin-bottom: 20px;
    text-indent: 21px;
}
